.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  overflow: scroll;
  border: 1.5px solid black;
  border-radius: 8px;
}

.navbar::-webkit-scrollbar {
  display: none;
}
