.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
  overflow: scroll;
  border: 1.5px solid #171717;
  border-radius: 8px;
  position: relative;
}

.navbar::-webkit-scrollbar {
  display: none;
}

.navhead {
  background-color: black;
  height: 2rem;
  width: 100%;
  position: absolute;
  top: 0;
}
